# Q3 Assignment 0-5 (Lists)
In this assignment we will do these tasks:
* Add Many Number
* Double List
* Flowing with data structur
* Get First Element
* Get Last Element
* Get List
* Shorten

## Add Many Number
Write a function that takes a list of numbers and returns the sum of those numbers.

In [1]:
def sumUs(data):
  sum = 0;
  for value in data:
    sum += value
  print(f"Total Sum is {sum}")
  return;

data = [2, 4, 2, 22, 12, 3, 65, 34]
sumUs(data)

Total Sum is 144

## Double List
Write a program that doubles each element in a list of numbers

In [4]:
def doubleUs(data):
  for index, value in enumerate(data):
    data[index] = value * 2
  print(data)

doubleUs(data)

[4, 8, 4, 44, 24, 6, 130, 68]

## Flowing Data with Data Structures
Create a function that takes a data and add its three copies in list.

In [4]:
def add_three_copies(datalist, data):
  for i in range(3):
    datalist.append(data)

def list_modifier():
  datalist = []
  value = input("Enter a value: ")
  print(f"Old List {datalist}")
  add_three_copies(datalist, value)
  print(datalist)

list_modifier()

Enter a value: hello
Old List []
['hello', 'hello', 'hello']

## Get First element in list
Fill out the function get_first_element(lst) which takes in a list lst as a parameter and prints the first element in the list. The list is guaranteed to be non-empty.

In [6]:
def get_first_element(lst):
  print(f"First value of list is {lst[0]}")

def main():
  data = []
  while len(data) <= 0:
    valuestoadd = int(input("How many elements do you wants to add: "))
    for i in range(valuestoadd):
      value = input("Enter a value to add in list: ")
      data.append(value)
  print(f"Original List: {data}")
  get_first_element(data)

main()

How many elements do you wants to add: 3
Enter a value to add in list: 23
Enter a value to add in list: 232
Enter a value to add in list: 12
Original List: ['23', '232', '12']
First value of list is 23

## Get Last element of the list
Get the last element of the list. If list is empty prompt user to add values.

In [7]:
def get_last_element(lst):
  print(f"Last value of list is {lst[-1]}")

def main():
  data = []
  while len(data) <= 0:
    valuestoadd = int(input("How many elements do you wants to add: "))
    for i in range(valuestoadd):
      value = input("Enter a value to add in list: ")
      data.append(value)
  print(f"Original List: {data}")
  get_last_element(data)

main()

How many elements do you wants to add: 4
Enter a value to add in list: 12
Enter a value to add in list: 98
Enter a value to add in list: 78
Enter a value to add in list: 33
Original List: ['12', '98', '78', '33']
Last value of list is 33

## Get List
Write a program which continuously asks the user to enter values which are added one by one into a list. When the user presses enter without typing anything, print the list.

In [8]:
def main():
  data = []
  while True:
      value = input("Enter a value to add in list: ")
      data.append(value)
      if value == "":
        break
  print(f"List: {data}")

main()

Enter a value to add in list: hello
Enter a value to add in list: world
Enter a value to add in list: life
Enter a value to add in list: like
Enter a value to add in list: 1221
Enter a value to add in list: king
Enter a value to add in list:
List: ['hello', 'world', 'life', 'like', '1221', 'king', '']

## Shorten List
Fill out the function shorten(lst) which removes elements from the end of lst, which is a list, and prints each item it removes until lst is MAX_LENGTH items long. If lst is already shorter than MAX_LENGTH you should leave it unchanged.

In [9]:
MAX_LENGTH = 4
def shorten(list_data):
  while len(list_data) > MAX_LENGTH:
    print(list_data.pop())


def main():
  data = []
  while True:
      value = input("Enter a value to add in list: ")
      data.append(value)
      if value == "":
        break
  print(f"List: {data}")
  shorten(data)
  print(f"Shorten list: {data}")

main()

Enter a value to add in list: 85
Enter a value to add in list: hello
Enter a value to add in list: 12
Enter a value to add in list: 77
Enter a value to add in list: world
Enter a value to add in list: 77
Enter a value to add in list: file
Enter a value to add in list: 09
Enter a value to add in list: 23
Enter a value to add in list:
List: ['85', 'hello', '12', '77', 'world', '77', 'file', '09', '23', '']

23
09
file
77
world
Shorten list: ['85', 'hello', '12', '77']